  <!-- HOME -->
  <section id="home" class="module-hero module-parallax module-fade module-full-height bg-dark-30" data-background="assets/images/logo.jpg">
    <div class="hs-caption container">
      <div class="caption-content">
        <div class="hs-title-size-1 font-inc">
          <%= image_tag 'logo.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>

  </section >
  <!-- /HOME -->