  <!-- HOME -->
  <section id="home" class="module-hero module-parallax module-fade module-full-height bg-dark-30" data-background="assets/images/logo.jpg">
    <div class="hs-caption container">
      <div class="caption-content">
        <div class="hs-title-size-1 font-inc">
          <%= image_tag 'logo.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>

  </section >
  <!-- /HOME -->

	<!-- WRAPPER -->
	<div class="wrapper">

		<!-- PORTFOLIO -->
		<section class="module-small p-t-20 p-b-60">

			<div class="container">

				<!-- PORTFOLIO LIST -->
				<ul id="works-grid" class="works-grid works-grid-gut works-grid-2 works-hover-w">

					<!-- PORTFOLIO ITEM -->
					<li class="work-item illustration webdesign">
						<a href="portfolio-single-1.html">
							<div class="work-image">
								<%= image_tag 'order.jpg', class: 'img-responsive' %>
							</div>
							<div class="work-caption">
								<h3 class="work-title font-alt">Catering</h3>
							</div>
						</a>
					</li>
					<!-- /PORTFOLIO ITEM -->

					<!-- PORTFOLIO ITEM -->
					<li class="work-item marketing webdesign">
						<%= link_to new_order_path do %>
							<div class="work-image">
								<%= image_tag 'catering.jpg', class: 'img-responsive' %>
							</div>
							<% end %>
							<div class="work-caption">
								<h3 class="work-title font-alt">Order / Pick-up</h3>
							</div>
						</a>
					</li>
					<!-- /PORTFOLIO ITEM -->

				</ul>
				<!-- /PORTFOLIO LIST -->

			</div>

		</section>
		<!-- /PORTFOLIO -->

	</div>
	<!-- /WRAPPER -->
