  <!-- HOME -->
  <section id="home" class="module-hero module-parallax module-fade module-full-height bg-dark-30" data-background="assets/images/logo.jpg">
    <div class="hs-caption container">
      <div class="caption-content">
        <div class="hs-title-size-1 font-inc">
          <%= image_tag 'logo.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>

  </section >
  <!-- /HOME -->

	<!-- WRAPPER -->
	<div class="wrapper">

		<!-- PORTFOLIO -->
		<section class="module-small p-t-20 p-b-60">

			<div class="container">

				<!-- PORTFOLIO LIST -->
				<ul id="works-grid" class="works-grid works-grid-gut works-grid-2 works-hover-w">

					<!-- PORTFOLIO ITEM -->
					<li class="work-item illustration webdesign">
						<%= link_to new_catering_path do %>
							<div class="work-image">
								<%= image_tag 'order.jpg', class: 'img-responsive' %>
							</div>
							<% end %>
							<div class="work-caption">
								<h3 class="work-title font-alt">Catering</h3>
							</div>
						</a>
					</li>
					<!-- /PORTFOLIO ITEM -->

					<!-- PORTFOLIO ITEM -->
					<li class="work-item marketing webdesign">
							<div class="work-image">
								<%= image_tag 'catering.jpg', class: 'img-responsive' %>
							</div>
							<div class="work-caption">
								<h3 class="work-title font-alt">Order / Pick-up</h3>
								 <div class="work-descr font-inc">
                  COMING SOON !
                </div>
							</div>
						</a>
					</li>
					<!-- /PORTFOLIO ITEM -->

				</ul>
				<!-- /PORTFOLIO LIST -->

			</div>

		</section>
		<!-- /PORTFOLIO -->

	</div>
	<!-- /WRAPPER -->
	      <!-- CONTACT -->
    <section class="module-small">
    
      <div class="container">
    
        <div class="row">
    
          <!-- CONTENT BOX -->
          <div class="col-sm-6">
            <div class="content-box">
              <div class="content-box-title font-inc">
                59-61 Gertrude St, Fitzroy
              </div>
            </div>
          </div>
          <!-- /CONTENT BOX -->
    
          <!-- CONTENT BOX -->
          <div class="col-sm-6">
            <div class="content-box">
              <div class="content-box-title font-inc">
                hello@mightyboyeatery.com.au
              </div>
            </div>
          </div>
          <!-- /CONTENT BOX -->
    
        </div>
    
      </div>
    
    </section>
    <!-- /CONTACT -->

    <!-- FOOTER -->
    <footer class="footer">
    
      <div class="container">
    
        <div class="row">
    
          <div class="col-sm-12 text-center">
            <p class="copyright font-inc m-b-0">© 2016 <a href="index.html">Mighty Boy</a>, All Rights Reserved.</p>
          </div>
    
        </div>
    
      </div>
    
    </footer>
    <!-- /FOOTER -->

